*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/ComPDFKit_Repo/build/
/ComPDFKit_Repo/compdfkit/build/
/ComPDFKit_Repo/compdfkit-ui/build/
secring.gpg
compdfkit-mavencentral.gradle
compdfkit-tools-mavencentral.gradle
compdfkit-ui-mavencentral.gradle
maven.properties
/*/release
