<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application android:supportsRtl="true">

        <provider
            android:name=".common.provider.ComPDFKitToolsFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/tools_file_paths" />
        </provider>

        <activity
            android:name=".annotation.pdfproperties.pdfsignature.CAddSignatureActivity"
            android:exported="false"
            android:theme="@style/ComPDFKit.Theme.Dark" />

        <activity
            android:name=".annotation.pdfproperties.pdfstamp.CAddCustomStampActivity"
            android:exported="false"
            android:theme="@style/ComPDFKit.Theme.Dark" />

        <activity
            android:name=".common.pdf.CPDFDocumentActivity"
            android:exported="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboardHidden|density"
            android:resizeableActivity="true"
            android:theme="@style/ComPDFKit.Theme.Light"
            android:windowSoftInputMode="adjustPan">
        </activity>

    </application>
</manifest>